// default theme

.sm-theme-default {
  background-color: #f6f7f8;

  .sm-header {
    background-color: #fff;
  }

  .sm-title {
    color: #333;
    padding: 1em;
  }

  li {
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    &:hover {
      > label {
        > i {
          opacity: 0.75;
        }
      }
    }
  }

  label, a {
    padding: 1em;

    > i {
      opacity: 0.5;
      font-size: 87%;
    }

    &:not(.sm-back) {
      color: #333;

      &:hover {
        background: rgba(0, 0, 0, 0.06);
      }
    }
  }

  .sm-back {
    color: #bbb;

    > i {
      margin-right: 0.5em;
    }
  }

  .sm-back-icon,
  .sm-next-icon {
    &::before {
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGQ9Ik0xMi4yMTkgMi4yODFMMTAuNzggMy43MiAxOC4wNjIgMTFIMnYyaDE2LjA2M2wtNy4yODIgNy4yODEgMS40MzggMS40MzggOS05IC42ODctLjcxOS0uNjg3LS43MTl6IiAvPjwvc3ZnPg==) center/1em no-repeat;
      content: '';
      height: 1em;
      width: 1em;
      transition: 200ms;
      display: inline-block;
    }
  }

  .back-icon::before {
    transform: scaleX(-1);
  }
}
