// required styles

.sm-wrap {
  overflow: hidden;
  transform: translateZ(0);

  > ul {
    left: 0;
    position: relative;
    transform: translateZ(0);
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  ul {
    width: 100%;
  }

  a, label {
    cursor: pointer;
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0;
  }

  li ul {
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
  }
}

.sm-header {
  display: flex;

  .sm-title {
    flex: 1;
    line-height: 1.4;
    margin: 0;
    order: 1;
  }
}

.sm-next {
  > i {
    margin-left: auto;
  }
}
