// required styles

.sm-wrap {
  overflow: hidden;
  transform: translateZ(0);

  > ul {
    left: 0;
    position: relative;
    transform: translateZ(0);
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  ul {
    width: 100%;
  }

  a, label {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between !important;
    margin: 0;
  }

  li ul {
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
  }
}

.sm-header {
  display: flex;

  .sm-back {

  }

  .sm-title {
    flex: 1;
    line-height: 1.4;
    margin: 0;
    order: 1;
  }
}


// default theme

.slinky-theme-default {
  background: #f6f7f8;

  .sm-title {
    color: #333;
    padding: 1em;
  }

  .sm-header {
    background-color: #fff;
  }

  li {
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      > label {
        > i {
          opacity: 0.75;
        }
      }
    }
  }

  label {
    > i {
      width: 1em;
      margin-right: 0.5em;
      opacity: 0.5;
    }
  }


  a:not(.sm-back),
  label:not(.sm-back) {
    color: #333;
    padding: 1em;

    &:hover {
      background: rgba(0, 0, 0, 0.06);
    }
  }

  label.sm-back {
    padding: 1em;
  }


  .back-icon::before,
  .next-icon::after {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGQ9Ik0xMi4yMTkgMi4yODFMMTAuNzggMy43MiAxOC4wNjIgMTFIMnYyaDE2LjA2M2wtNy4yODIgNy4yODEgMS40MzggMS40MzggOS05IC42ODctLjcxOS0uNjg3LS43MTl6IiAvPjwvc3ZnPg==) center no-repeat;
    background-size: 1em;
    content: '';
    height: 1em;
    transition: 200ms;
    width: 1em;
    display: inline-block;
  }

  .back-icon::before {
    transform: scaleX(-1);
  }

  /*.back-icon:hover::before,
  .next-icon:hover::after{
    opacity: 0.75;
  }*/

  /*.next::after,
  .back::before {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICAgIDxwYXRoIGQ9Ik0xMi4yMTkgMi4yODFMMTAuNzggMy43MiAxOC4wNjIgMTFIMnYyaDE2LjA2M2wtNy4yODIgNy4yODEgMS40MzggMS40MzggOS05IC42ODctLjcxOS0uNjg3LS43MTl6IiAvPjwvc3ZnPg==) center no-repeat;
    background-size: 1em;
    content: '';
    height: 1em;
    opacity: 0.25;
    transition: 200ms;
    width: 1em;
  }

  .next::after {
    margin-left: 1em;
  }

  .back::before {
    padding: 1em;
    transform: scaleX(-1);
  }*/

  /*.next:hover::after,
  .back:hover::before {
    opacity: 0.75;
  }

  .next:active::after,
  .back:active::before {
    opacity: 1;
  }*/
}
